<h2>フォローユーザー一覧</h2>

<% if @users.exists? %>
  <p>フォロワー一覧</p><br/>
  <% @users.each do |user| %>
    <%= user.id %>
    <%= user.email %>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>

<%= link_to "戻る", posts_path%>
