h1{
    padding-top: 110px;
}

.postsIndex-all{
    color: white;
}

.postsContainer{
   border: solid 1px white;     
}

.postsIndex-link a{
    color: white;
    text-decoration: none;
}

.postsForm-all{
    color: white;
}